.modal-content{
    background: red !important;
}
.btn-danger{
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.logo-deaitls{
    color: #fff !important;
    font-size: 22px;
    padding: 0px 0;
}
.logo-deaitls .fa-btc{
    margin: 0 0 0 5px;
    color: #fff;
}

.logo-deaitls img {
    width: 62%;
    max-width: 100%;
  }
  .navbar-dark .navbar-brand {
    background: #24262d;
    padding: 5px .6125rem;
}
.nav-item{position: relative;}
.navbar-nav .nav-item:first-child:before{display:none;}
.nav-item:before{content:"";position: absolute;left:0;top:11px;width:1px;height:20px;background:#3e3838;}
.navbar-sidenav_new .nav-item:before{display:none;}
.logo-deaitls {
  
    height: 48px;
   
}